version: 2
updates:
  - package-ecosystem: pip
    directories:
      - /functions/python
      - /jobs
    schedule:
      interval: monthly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - ugrc-*
        - agrc-*

  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: monthly
    groups:
      ci-dependencies:
        dependency-type: production
    cooldown:
      default-days: 10
      exclude:
        - agrc/*

  - package-ecosystem: npm
    directories:
      - /
      - /functions/node
    schedule:
      interval: monthly
    groups:
      safe-dependencies:
        update-types:
          - minor
          - patch
      major-dependencies:
        update-types:
          - major
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'

  - package-ecosystem: docker
    directory: /jobs
    schedule:
      interval: monthly
    groups:
      docker-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: deps(docker)
